/* ソート可能な列 */
td[sortable], .sortable-column {
  position: relative;
  cursor: pointer;
  text-decoration: underline;
  transition: color 0.2s ease, background-color 0.2s ease;
}

td[sortable]:after, .sortable-column:after {
  content: '↕';
  position: absolute;
  right: 5px;
  color: white;
}

td[sortable].sort-asc:after, .sortable-column.sort-asc:after {
  content: '▲';
  color: blue;
}

td[sortable].sort-desc:after, .sortable-column.sort-desc:after {
  content: '▼';
  color: red;
}